// Color variables
$white: #ffffff;

$primary: #0f9cf3;
$success: #6fd088;
$info: #0097a7;
$warning: #ffbb44;
$danger: #f32f53;




$dark: #0a1832;
$muted: #707070;

$lightdark5: #555555;
$lightgray: #dddddd;
$light: #eff3f6;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;

$bg-body: #eff3f6;
$left-bar: #ffffff;
$bg-topbar: #424858;

$font-primary: 'Noto Sans TC', sans-serif;

$shadow: 1px 0px 20px rgba(0,0,0,0.05);


$base-font: 15px;



// Width variables
$width: 100%;


// Height variables
$height: 100%;


